<% prev_mention_user ||= nil 
	 isLastMentiosnOnLeft ||= false
%>
<% for mention in @mentions %>
	<div class="row conversation-area">
		<% if prev_mention_user == mention.user %>
			<% if isLastMentiosnOnLeft %>
				<%= render 'mention-left', {:mention => mention} %>
				<% isLastMentiosnOnLeft = true %>
			<% else %>
				<%= render 'mention-right', {:mention => mention} %>
				<% isLastMentiosnOnLeft = false %>
			<% end %>
		<% else %>
			<% if isLastMentiosnOnLeft %>
				<%= render 'mention-right', {:mention => mention} %>
				<% isLastMentiosnOnLeft = false %>
			<% else %>
				<%= render 'mention-left', {:mention => mention} %>
				<% isLastMentiosnOnLeft = true %>
			<% end %>
		<% end %>
	</div><!-- conversation-area -->
	<% prev_mention_user = mention.user %>
<% end %>
