<% for mention in @mentions %>
	<div class="row conversation-area">
		<div class="span1 attender-span">
			<%= image_tag("MC900432610.png", {:class => 'attender-img'}) %>
			<span><%= mention.user.name %></span>
		</div>
		<div class="span6">
			<span class="arrow_box_left">
				<%= mention.content %>
			</span>	
		</div>
		<div class="span1 attender-span">
		</div>
	</div><!-- conversation-area -->
<% end %>