<div class="row">
	<h3><%= @theme.name %></h3>
	<p><%= @theme.description %></p>
</div>
<div class="row">
	<h4>Attenders</h4>
	<ol>
		<% for attender in @attenders %> 
			<li><%= attender.name %></li>
		<% end %>
	</ol>
</div>
