<% content_for :container do %>

<h2>Welcome!</h2>

<%= link_to(raw('<i class="icon-file"></i>') + " 新規テーマ作成", new_theme_path, {:class => 'btn'}) %>

<h3>現在のテーマ一覧</h3>

<table class="table table-striped">
  <tr>
    <th>テーマタイトル</th>
    <th></th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= link_to theme.name, "/mentions/"+theme.id.to_s, {:style => 'color:#0088CC'} %></td>
    <td><%= link_to '編集', edit_theme_path(theme), style: 'color:#0088CC' %></td>
    <td><%= link_to '削除', theme, method: :delete, data: { confirm: '削除しますか?' }, style: 'color: #0088CC' %></td>
  </tr>
<% end %>
</table>

<br />

<% end %> <!-- :container end-->