<h1>Themes#list</h1>
<% @themes.each do |theme| %>

    <%= theme.name %>
    <br/>
    <% theme.users.each do |user| %>
        <%= user.name %> : <%= user.email%>
        <br/>
    <% end %>
<% end %>
