<% for mention in @theme.mentions %>
 <div class="row conversation-area">
  <div class="span1 attender-span">
   <span><%= mention.user.name %></span>
   <br/>
   <span><%= mention.mentioned_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
   <br/>
   <%= link_to '削除', url_for([:delete, mention]), {:confirm => '削除しますか？', :method => :delete } %>
  </div>
  <div class="span6">
   <span class="arrow_box_left">
    <%= mention.content %>
   </span>
  </div>
 </div>
<% end %>
