/* left */
.arrow_box_left {
	position: relative;
	background: #ffffff;
	border: 2px solid #c2e1f5;
  padding: 5px 10px;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #ffffff;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}
.arrow_box_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 8px;
	top: 50%;
	margin-top: -8px;
}

/* right */
.arrow_box_right {
	position: relative;
	background: #ffffff;
	border: 2px solid #c2e1f5;
  padding: 5px 10px;
  float: right;
}
.arrow_box_right:after, .arrow_box_right:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #ffffff;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 8px;
	top: 50%;
	margin-top: -8px;
}